{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'cards/css/main.css' %}"/>
{% endblock %}
{% block title %}Каталог{% endblock %}
{% block content %}
    <h1 class="catalog">Каталог карточек</h1>
    <p>На текущий момент у нас {{cards_count}} карточек.</p>
    <p>Выберете карточку для изучения:</p>
    <ul>
    {% for card in cards %}
    <li>
        {% include "includes/card_preview.html" %}
    </li>
    {% endfor %}
    </ul>
{% endblock %}
{% block scripts %}<script src="{% static 'cards/js/main.js' %}"></script>{% endblock %}