{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'cards/css/main.css' %}"/>
{% endblock %}
{% comment %} {% comment %} template/about.html шаблон, расширяющий базовый шаблон base.html {% endcomment %}
{% block title %}О сайте{% endblock %}
{% block content %}
    <h1>О сайте</h1>
    <p>На нашем сайте {{users_count}} пользователей</p>
    <p>Карточек на сайте: {{cards_count}}</p>
    {% endblock %}
{% block scripts %}<script src="{% static 'cards/js/main.js' %}"></script>{% endblock %}